################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/EasyXMLSerialzerUWP/.vs/EasyXMLSerialzerUWP/v15
*.suo
