################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/EasyXMLSerialzerUWP/.vs/EasyXMLSerialzerUWP/v15
*.suo
/.vs/EasyXMLSerializer/v15/Server/sqlite3
/.vs
/EasyXMLSerializerVB/obj
/EasyXMLSerialzerUWP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/EasyXMLSerialzerUWP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/EasyXMLSerialzerUWP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerialzerUWP.csproj.CoreCompileInputs.cache
/bin/Debug/EasyXMLSerializer.XML
/bin/Debug/EasyXMLSerializer.pdb
/bin/Debug/EasyXMLSerializer.dll
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csprojAssemblyReference.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.assets.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.AssemblyInfoInputs.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.AssemblyInfo.cs
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/EasyXMLSerializerCore.csprojAssemblyReference.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/EasyXMLSerializerCore.assets.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/EasyXMLSerializerCore.AssemblyInfoInputs.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/EasyXMLSerializerCore.AssemblyInfo.cs
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
/EasyXMLSerializerCore/obj/project.nuget.cache
/EasyXMLSerializerCore/obj/project.assets.json
/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.g.targets
/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.g.props
/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.dgspec.json
/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.csprojAssemblyReference.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.assets.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.AssemblyInfoInputs.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.AssemblyInfo.cs
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.csprojAssemblyReference.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.csproj.CoreCompileInputs.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.assets.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.AssemblyInfoInputs.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.AssemblyInfo.cs
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/EasyXMLSerialzerUWP/obj/project.nuget.cache
/EasyXMLSerialzerUWP/obj/project.assets.json
/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.g.targets
/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.g.props
/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.dgspec.json
/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.cache
/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerialzerUWP.csprojAssemblyReference.cache
/EasyXMLSerialzerUWP/obj/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/EasyXMLSerializer.pdb
/obj/Debug/EasyXMLSerializer.dll
/obj/Debug/EasyXMLSerializer.csprojAssemblyReference.cache
/obj/Debug/EasyXMLSerializer.csproj.FileListAbsolute.txt
/obj/Debug/EasyXMLSerializer.csproj.CoreCompileInputs.cache
/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
/EasyXMLSerializerStandard/obj/project.nuget.cache
/EasyXMLSerializerStandard/obj/project.assets.json
/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.g.targets
/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.g.props
/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.dgspec.json
/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.pdb
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.dll
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csproj.FileListAbsolute.txt
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csproj.CoreCompileInputs.cache
/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.pdb
/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.dll
/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.deps.json
