################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/EasyXMLSerialzerUWP/.vs/EasyXMLSerialzerUWP/v15
*.suo
/.vs/EasyXMLSerializer/v15/Server/sqlite3
/.vs
/EasyXMLSerializerVB/obj
/EasyXMLSerialzerUWP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/EasyXMLSerialzerUWP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/EasyXMLSerialzerUWP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerialzerUWP.csproj.CoreCompileInputs.cache
/bin/Debug/EasyXMLSerializer.XML
/bin/Debug/EasyXMLSerializer.pdb
/bin/Debug/EasyXMLSerializer.dll
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csprojAssemblyReference.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.assets.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.AssemblyInfoInputs.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.AssemblyInfo.cs
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/EasyXMLSerializerCore.csprojAssemblyReference.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/EasyXMLSerializerCore.assets.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/EasyXMLSerializerCore.AssemblyInfoInputs.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/EasyXMLSerializerCore.AssemblyInfo.cs
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
/EasyXMLSerializerCore/obj/project.nuget.cache
/EasyXMLSerializerCore/obj/project.assets.json
/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.g.targets
/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.g.props
/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.dgspec.json
/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.csprojAssemblyReference.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.assets.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.AssemblyInfoInputs.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.AssemblyInfo.cs
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.csprojAssemblyReference.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.csproj.CoreCompileInputs.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.assets.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.AssemblyInfoInputs.cache
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/EasyXMLSerializerStandard.AssemblyInfo.cs
/EasyXMLSerializerStandard/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/EasyXMLSerialzerUWP/obj/project.nuget.cache
/EasyXMLSerialzerUWP/obj/project.assets.json
/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.g.targets
/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.g.props
/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.dgspec.json
/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.cache
/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerialzerUWP.csprojAssemblyReference.cache
/EasyXMLSerialzerUWP/obj/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/EasyXMLSerializer.pdb
/obj/Debug/EasyXMLSerializer.dll
/obj/Debug/EasyXMLSerializer.csprojAssemblyReference.cache
/obj/Debug/EasyXMLSerializer.csproj.FileListAbsolute.txt
/obj/Debug/EasyXMLSerializer.csproj.CoreCompileInputs.cache
/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
/EasyXMLSerializerStandard/obj/project.nuget.cache
/EasyXMLSerializerStandard/obj/project.assets.json
/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.g.targets
/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.g.props
/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.dgspec.json
/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.cache
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.pdb
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.dll
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csproj.FileListAbsolute.txt
/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csproj.CoreCompileInputs.cache
/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.pdb
/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.dll
/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.deps.json
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.pdb
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.dll
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.csproj.FileListAbsolute.txt
/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.csproj.CoreCompileInputs.cache
/EasyXMLSerializerStandard/bin/Debug/netstandard2.1/EasyXMLSerializerStandard.pdb
/EasyXMLSerializerStandard/bin/Debug/netstandard2.1/EasyXMLSerializerStandard.dll
/EasyXMLSerializerStandard/bin/Debug/netstandard2.1/EasyXMLSerializerStandard.deps.json
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/SRC/EasyXMLSerializer/obj/Debug/EasyXMLSerializer.csprojAssemblyReference.cache
/SRC/EasyXMLSerializer/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/SRC/EasyXMLSerializerCore/obj/project.nuget.cache
/SRC/EasyXMLSerializerCore/obj/project.assets.json
/SRC/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.g.targets
/SRC/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.g.props
/SRC/EasyXMLSerializerCore/obj/EasyXMLSerializerCore.csproj.nuget.dgspec.json
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csprojAssemblyReference.cache
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.assets.cache
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.AssemblyInfoInputs.cache
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.AssemblyInfo.cs
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.csprojAssemblyReference.cache
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.assets.cache
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.AssemblyInfoInputs.cache
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.AssemblyInfo.cs
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/SRC/EasyXMLSerializerStandard/obj/project.nuget.cache
/SRC/EasyXMLSerializerStandard/obj/project.assets.json
/SRC/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.g.targets
/SRC/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.g.props
/SRC/EasyXMLSerializerStandard/obj/EasyXMLSerializerStandard.csproj.nuget.dgspec.json
/SRC/EasyXMLSerializerVB/obj/Debug/EasyXMLSerializerVB.vbprojAssemblyReference.cache
/SRC/EasyXMLSerializerVB/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.vb
/SRC/EasyXMLSerialzerUWP/obj/project.nuget.cache
/SRC/EasyXMLSerialzerUWP/obj/project.assets.json
/SRC/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.g.targets
/SRC/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.g.props
/SRC/EasyXMLSerialzerUWP/obj/EasyXMLSerialzerUWP.csproj.nuget.dgspec.json
/SRC/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerialzerUWP.csprojAssemblyReference.cache
/SRC/EasyXMLSerialzerUWP/obj/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/SRC/EasyXMLSerializer/bin/Debug/EasyXMLSerializer.XML
/SRC/EasyXMLSerializer/bin/Debug/EasyXMLSerializer.pdb
/SRC/EasyXMLSerializer/bin/Debug/EasyXMLSerializer.dll
/SRC/EasyXMLSerializer/obj/Debug/EasyXMLSerializer.pdb
/SRC/EasyXMLSerializer/obj/Debug/EasyXMLSerializer.dll
/SRC/EasyXMLSerializer/obj/Debug/EasyXMLSerializer.csproj.FileListAbsolute.txt
/SRC/EasyXMLSerializer/obj/Debug/EasyXMLSerializer.csproj.CoreCompileInputs.cache
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.pdb
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.dll
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csproj.FileListAbsolute.txt
/SRC/EasyXMLSerializerCore/obj/Debug/netcoreapp3.1/EasyXMLSerializerCore.csproj.CoreCompileInputs.cache
/SRC/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.pdb
/SRC/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.dll
/SRC/EasyXMLSerializerCore/bin/Debug/netcoreapp3.1/EasyXMLSerializerCore.deps.json
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.pdb
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.dll
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.csproj.FileListAbsolute.txt
/SRC/EasyXMLSerializerStandard/obj/Debug/netstandard2.1/EasyXMLSerializerStandard.csproj.CoreCompileInputs.cache
/SRC/EasyXMLSerializerStandard/bin/Debug/netstandard2.1/EasyXMLSerializerStandard.pdb
/SRC/EasyXMLSerializerStandard/bin/Debug/netstandard2.1/EasyXMLSerializerStandard.dll
/SRC/EasyXMLSerializerStandard/bin/Debug/netstandard2.1/EasyXMLSerializerStandard.deps.json
/SRC/EasyXMLSerialzerUWP/obj/Debug/unfiltered.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/Debug/unfiltered.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/Debug/resources.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/Debug/resources.resfiles
/SRC/EasyXMLSerialzerUWP/obj/Debug/qualifiers.txt.intermediate
/SRC/EasyXMLSerialzerUWP/obj/Debug/qualifiers.txt
/SRC/EasyXMLSerialzerUWP/obj/Debug/priconfig.xml.intermediate
/SRC/EasyXMLSerialzerUWP/obj/Debug/priconfig.xml
/SRC/EasyXMLSerialzerUWP/obj/Debug/pri.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/Debug/pri.resfiles
/SRC/EasyXMLSerialzerUWP/obj/Debug/MultipleQualifiersPerDimensionFound.txt
/SRC/EasyXMLSerialzerUWP/obj/Debug/filtered.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/Debug/filtered.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/Debug/excluded.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/Debug/excluded.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/Debug/embed/embed.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/Debug/embed/embed.resfiles
/SRC/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerialzerUWP.csproj.FileListAbsolute.txt
/SRC/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerialzerUWP.csproj.CoreCompileInputs.cache
/SRC/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerializerUWP.pdb
/SRC/EasyXMLSerialzerUWP/obj/Debug/EasyXMLSerializerUWP.dll
/SRC/EasyXMLSerialzerUWP/bin/Debug/EasyXMLSerializerUWP.pri
/SRC/EasyXMLSerialzerUWP/bin/Debug/EasyXMLSerializerUWP.pdb
/SRC/EasyXMLSerialzerUWP/bin/Debug/EasyXMLSerializerUWP.dll
/SRC/EasyXMLSerializerVB/obj/Debug/EasyXMLSerializerVB.vbproj.GenerateResource.cache
/SRC/EasyXMLSerializerVB/obj/Debug/EasyXMLSerializerVB.vbproj.FileListAbsolute.txt
/SRC/EasyXMLSerializerVB/obj/Debug/EasyXMLSerializerVB.vbproj.CoreCompileInputs.cache
/SRC/EasyXMLSerializerVB/obj/Debug/EasyXMLSerializer.xml
/SRC/EasyXMLSerializerVB/obj/Debug/EasyXMLSerializer.Resources.resources
/SRC/EasyXMLSerializerVB/obj/Debug/EasyXMLSerializer.pdb
/SRC/EasyXMLSerializerVB/obj/Debug/EasyXMLSerializer.dll
/SRC/EasyXMLSerializerVB/bin/Debug/EasyXMLSerializer.xml
/SRC/EasyXMLSerializerVB/bin/Debug/EasyXMLSerializer.pdb
/SRC/EasyXMLSerializerVB/bin/Debug/EasyXMLSerializer.dll
/SRC/EasyXMLSerializer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SRC/EasyXMLSerialzerUWP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SRC/EasyXMLSerializerCore/obj/Debug/EasyXMLSerializerCore.1.0.8.nuspec
/SRC/EasyXMLSerializerCore/bin/Debug/EasyXMLSerializerCore.1.0.8.nupkg
/SRC/EasyXMLSerializerStandard/obj/Debug/EasyXMLSerializerStandard.1.0.8.nuspec
/SRC/EasyXMLSerializerStandard/bin/Debug/EasyXMLSerializerStandard.1.0.8.nupkg
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/unfiltered.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/unfiltered.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/resources.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/resources.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/qualifiers.txt.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/qualifiers.txt
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/priconfig.xml.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/priconfig.xml
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/pri.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/pri.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/MultipleQualifiersPerDimensionFound.txt
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/filtered.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/filtered.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/excluded.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/excluded.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/embed/embed.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/embed/embed.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/EasyXMLSerialzerUWP.csproj.FileListAbsolute.txt
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/EasyXMLSerialzerUWP.csproj.CoreCompileInputs.cache
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/EasyXMLSerializerUWP.pdb
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/EasyXMLSerializerUWP.dll
/SRC/EasyXMLSerialzerUWP/obj/x86/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/unfiltered.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/unfiltered.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/resources.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/resources.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/qualifiers.txt.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/qualifiers.txt
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/priconfig.xml.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/priconfig.xml
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/pri.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/pri.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/MultipleQualifiersPerDimensionFound.txt
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/filtered.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/filtered.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/excluded.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/excluded.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/embed/embed.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/embed/embed.resfiles
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/EasyXMLSerialzerUWP.csprojAssemblyReference.cache
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/EasyXMLSerialzerUWP.csproj.FileListAbsolute.txt
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/EasyXMLSerialzerUWP.csproj.CoreCompileInputs.cache
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/EasyXMLSerializerUWP.pdb
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/EasyXMLSerializerUWP.dll
/SRC/EasyXMLSerialzerUWP/obj/x64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/unfiltered.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/unfiltered.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/resources.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/resources.resfiles
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/qualifiers.txt.intermediate
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/qualifiers.txt
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/priconfig.xml.intermediate
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/priconfig.xml
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/pri.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/pri.resfiles
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/MultipleQualifiersPerDimensionFound.txt
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/filtered.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/filtered.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/excluded.layout.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/excluded.layout.resfiles
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/embed/embed.resfiles.intermediate
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/embed/embed.resfiles
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/EasyXMLSerialzerUWP.csproj.FileListAbsolute.txt
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/EasyXMLSerialzerUWP.csproj.CoreCompileInputs.cache
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/EasyXMLSerializerUWP.pdb
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/EasyXMLSerializerUWP.dll
/SRC/EasyXMLSerialzerUWP/obj/ARM/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/SRC/EasyXMLSerialzerUWP/bin/x86/Debug/EasyXMLSerializerUWP.pri
/SRC/EasyXMLSerialzerUWP/bin/x86/Debug/EasyXMLSerializerUWP.pdb
/SRC/EasyXMLSerialzerUWP/bin/x86/Debug/EasyXMLSerializerUWP.dll
/SRC/EasyXMLSerialzerUWP/bin/x64/Debug/EasyXMLSerializerUWP.pri
/SRC/EasyXMLSerialzerUWP/bin/x64/Debug/EasyXMLSerializerUWP.pdb
/SRC/EasyXMLSerialzerUWP/bin/x64/Debug/EasyXMLSerializerUWP.dll
/SRC/EasyXMLSerialzerUWP/bin/ARM/Debug/EasyXMLSerializerUWP.pri
/SRC/EasyXMLSerialzerUWP/bin/ARM/Debug/EasyXMLSerializerUWP.pdb
/SRC/EasyXMLSerialzerUWP/bin/ARM/Debug/EasyXMLSerializerUWP.dll
